# Logs
logs
*.log
npm-debug.log*
request.log
error.log

# Diretório de dependências
node_modules

# Build outputs
frontend/dist/

# Diretório de cache npm opcional
.npm

# Arquivos do sistema e pastas de configurações IDE
.DS_Store
.idea
.vscode

# Environment
.env